/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');

:root{
    --main-color : #101820;
    --accent-color : #FEE715;
    --common-color : #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
/*navbar styling*/

.navbar{
    position: fixed;
    width: 100%;
    padding: 30px 0;
    z-index: 999;
    font-family: Poppins;
    transition: all .4s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background:#101820;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 10px 10px -10px;

}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    font-size: 35px;
    font-weight: 600;
    color: var(--common-color);
}
.navbar .logo a span{
    color: var(--accent-color);
    transition: all .4s ease;
}
.navbar.sticky .logo a{
    color: var(--common-color);

}
.navbar.sticky .logo a span{
    color: var(--accent-color);
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: var(--common-color);
    font-size: 20px;
    font-weight: 500;
    margin-left: 15px;
    transition: color .3s ease-out;
}
.navbar .menu li a:hover{
    color: var(--accent-color);

}
/*menu button styling*/
.menu-btn{
    color: var(--accent-color);
    font-size: 30px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background:var(--main-color);
    right: 30px;
    bottom:10px;
    text-align: center;
    line-height: 45px;
    color: var(--accent-color);
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all .4s ease;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 0px 15px 5px;
}
.scroll-up-btn i{
    position: relative;
    top: 2px;
    transition: all .2s ease;
}
.scroll-up-btn:hover{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 0px 15px 10px;
}
.scroll-up-btn:hover i{
    top: -2px;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}

/*home section*/
.home {
    /* display: flex; */
    background: var(--main-color) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    min-height: 500px;
    font-family: Ubuntu;
    font-weight: 400;
}
.home .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home .home-content .text-1,.text-2,.text-3 {
    color: #FFF;
}

.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 60px;
    font-weight: 500;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size:40px;
    margin-left: 5px 0;
}
.home .home-content .text-3 span{
    color: var(--accent-color);
    font-weight: 500;
}
.home .home-content a{
    display:inline-block;
    background: var(--accent-color);
    color: var(--main-color);
    font-size: 25px;
    font-weight: 500;
    border-radius: 6px;
    border: 2px solid;
    border-color: var(--accent-color);
    padding: 12px 36px;
    margin-top: 20px;
    transition: .4s ease;
}
.home .home-content a:hover{
    color:var(--accent-color);
    background: none;
}

.home .home-illustration {
    width: 50%;
}

/*all similar styling code*/
.about , .services , .skills , .work , .contact , footer{
    font-family: ubuntu, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.about .about-content , 
.services .serv-content , 
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-family: Ubuntu;
    margin-bottom: 60px;
    padding-bottom: 20px;
    color: var(--main-color);
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: var(--main-color);
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -15px;
    left: 50%;
    font-size: 20px;
    color: var(--accent-color);
    padding: 5px;
    background: #fff;
    transform: translateX(-50%);
}
/*about section*/
section{
    padding: 100px 0;
}


.about .title::after{
    content: "Who I am";
    font-weight: lighter;
}

.about .about-content .left .img{
    height: 400px;
    width: 400px;
    background-image: url('Asset/Images/Profile_Pic.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{

    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: var(--accent-color);
}
.about .about-content .right p{
    text-align: justify;
    font-size: 20px;
    font-weight: 500;
    color: var(--main-color);
}
.about .about-content .right a{
    display:inline-block;
    background: var(--accent-color);
    color: var(--main-color);
    font-size: 18px;
    font-weight: 500;
    border-radius: 6px;
    border: 2px solid var(--accent-color);
    padding: 10px 26px;
    margin-top: 20px;
    transition: .4s ease;
}
.about .about-content .right a:hover{
    color: var(--main-color);
    border-color: var(--main-color);
    background: none;
}

/*services section*/
.services , .work{
    color: #F29492;
    background: var(--main-color);
}

.services .title {
    color: var(--common-color);
}

.services .title::before,
.work .title::before{
    background: #fff;
}
.services .title::after{
    content: "what I provide";
    font-weight: lighter;
    background: var(--main-color);
}

.services .serv-content .card{
    margin: 0;
    width: calc(50% - 10px);
    background: rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur( 30px);
    text-align: center;
    border-radius: 6px;
    padding: 20px 20px; 
    cursor: pointer;
    transition:all .4s ease;   
}
.services .serv-content .card:hover{
    background:#07141a;
}
.services .serv-content .card .box{
    transition: all .4s ease;
}
.services .serv-content .card:hover .box{
    transform: scale(1.05);
}
.services .serv-content .card i{
    color: var(--common-color);
    font-size: 50px;
}
.services .serv-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
    color:var(--accent-color);
}

.services .serv-content .card .box p{
    color: var(--common-color);
}

/*skills section*/
.skills .title::after{
    content: "What I Know";
}
.skills .skills-content .column{
    width: calc(50% - 30px);
}
.skills .skills-content .left .text{
    font-size: 20px;
    font-family: Poppins;
    font-weight: 600;
    color: #114357;
    margin-bottom: 10px;
}
.skills .skills-content .left p{
    color: #07141a;
    text-align: justify;
    margin-bottom: 10px;
}
.skills .skills-content .left a{
    display:inline-block;
    background: #F29492;
    color: #fff;
    margin-bottom: 25px;
    font-size: 18px;
    border-radius: 6px;
    border: 2px solid #F29492;
    padding: 8px 16px;
    margin-top: 20px;
    transition: .4s ease;
}
.skills .skills-content .left a:hover{
    color: #F29492;
    background: none;
}
.skills .skills-content .right .bars{
    margin-bottom: 15px;
}
.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between; 
}
.skills .skills-content .right span{
    font-size: 18px;
    font-weight: 500;
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background:#114357;
    position: relative;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background:var(--accent-color);
}
.skills .skills-content .right .html::before{
    width: 80%;
}
.skills .skills-content .right .css::before{
    width: 70%;
}
.skills .skills-content .right .javascript::before{
    width: 50%;
}
.skills .skills-content .right .php::before{
    width: 90%;
}
.skills .skills-content .right .mysql::before{
    width: 90%;
}

/*work section */

.work .title {
    color: var(--common-color);
}

.work .title::after{
    content: "What i do";
    background: var(--main-color);
}
.work .carousel .card{
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    transition: all .3s ease;
}
.work .carousel .card:hover{
    background:#111;
}
.work .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .4s ease;
}
.work .carousel .card:hover .box{
    transform: scale(1.05);
}
.work .carousel .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 30px 0 7px 0;
}
.work .carousel .card video{
    height: 200px;
    width: 100%;
    object-fit: cover;
    /* border-radius: 50%; */
    /* border: 6px solid #e96443; */
    transition: all .4s ease;
}

.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    height: 13px;
    width:13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border:2px solid #F29492!important;
    transition: all .4s ease;
}
.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
    background:#F29492!important;
}

/*contact section*/
.contact .title::after{
    content: "Get In Touch";
}
.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .left .icons .row:first-child .info {
    margin-left: 18px;
}
.contact .contact-content .info{
    margin: 0 10px;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: var(--main-color);
    font-weight: lighter;
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: var(--main-color);
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 10px;
}
.contact .right form .textarea{
    height: 80px;
    width: 100%;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .email{
    margin-right: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins';
}
.contact .right form .textarea textarea{
    padding-top: 10px;
    resize: none;
}
.contact .right form .button{
    height: 47px;
    width: 170px;
}
.contact .right form .button button{
    width: 100%;
    height: 100%;
    border: 2px solid var(--accent-color);
    border-radius: 6px;
    background: var(--accent-color);
    color: var(--main-color);
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all .4s ease;
}
.contact .right form .button button:hover{
    color: var(--main-color);
    background: none;
}

/*footer section*/
footer{
    background:var(--main-color);
    padding: 20px 23px;
    color: #fff;
}
footer span a{
    color: var(--accent-color);
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}

/*responsive media query*/
@media (max-width: 1300px){
    .home .max-width{
        margin-left: 0;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .home .max-width .home-content {
        width: 100%;
        text-align: center;
    }
    .home .max-width .home-content .text-1 , .text-2 , .text-3{
        font-size: calc(27px - 30%);
    }
    .home .max-width .home-illustration{
        align-self: center;
        width: 100%;
        /* text-align: center; */
    }
}

@media (max-width: 1104px){

    .about .about-content .left .img{
        height: 350px;
        width:350px;
    }
}

@media (max-width: 991px){
    .max-width{
        padding: 0 50px;
    }
}

@media (max-width: 947px){
    .max-width{
        padding: 0 40px;
    }
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active::before{
        content:"\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background:#F29492;
        text-align: center;
        padding-top: 40px;
        transition: all .4s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size:30px;
    }   
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 800px;
    }
    .about .about-content .column,
    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100%;
    }
    .about .about-content .left{
       display: flex;
       justify-content: center;
       margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .services .serv-content .card
     {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
}

@media (max-width: 690px){
    .max-width{
        padding: 0 20px;
    }
    .home .home-content .text-2{
        font-size: 42px;
    }
    .home .home-content .text-3{
        font-size:22px;
    }   
    .home .home-content a{
        font-size: 20px;
    }
    .services .serv-content .card {
       width: 100%;
    }
}

@media (max-width: 500px){
    .home .home-content .text-2{
        font-size: 28px;
    }
    .home .home-content .text-3{
        font-size:19px;
    }   
}